header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8fa1a8;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(203, 211, 195);
}
