.container {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  background-image: url("./backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: rgb(52, 52, 52);
  margin-top: 30%;
}

.contact-container {
  background-image: url("./backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 50px);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.contact-heading {
  padding-top: 15%;
  text-align: center;
  color: rgb(52, 52, 52);
  text-transform: uppercase;
  margin-top: 0;
}

.contact-form {
  width: 320px;
  font-size: 20px;
  font-weight: 500;
  color: rgb(52, 52, 52);
  padding-left: 20px;
}

.contact-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.contact-input {
  font-size: 20px;
  background-color: transparent;
  outline: 0;
  border-width: 0 0 2px;
  border-color: rgb(52, 52, 52);
}

.contact-input:focus {
  border-color: rgb(112, 111, 167);
}
.button {
  font-size: 25px;
  font-weight: 700;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(105, 187, 105, 0.5);
  padding: 10px 20px;
  margin-top: 20px;
  text-transform: uppercase;
  color: rgb(52, 52, 52);
}

.button:hover {
  background-color: rgba(235, 111, 70, 0.8);
  text-align: center;
}

/* Photo by <a href="https://unsplash.com/@jeshoots?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">JESHOOTS.COM</a> on <a href="https://unsplash.com/s/photos/contact-book?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
